<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <!--<link rel="stylesheet" href="../dist/tailwind.css">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body class="bg-black">
    <header class="header bg-gray-300 mb-5">
        <!--<img src="../public/images/IMG_0337.jpg" class="" />-->
        <div class="inline-block m-3">
            <a href="/">
                <h1 class="text-3xl font-extrabold">JJHsu's Blog</h1>
            </a>
        </div>
        <div class="inline-block bg-gray-300 rounded top-4 right-1 fixed">
            <%_ if (req.session.logined) { -%> 
                <ul>
                    <li class="inline-block mr-5">
                        <a href="/articles/edit_user/<%= req.session.name %>" class="hover:bg-slate-100 text-lg transition-all rounded">ChangePassword</a>
                    </li>
                    <li class="inline-block">
                        <form action="/articles/logout?_method=DELETE" method="post" class="">
                            <button type="submit" class="hover:bg-slate-100 text-lg transition-all rounded">Log Out</button>
                        </form>
                    </li>
                </ul>
            <%_ } else { -%>
                <ul>
                    <li class="inline-block mr-5">
                        <a href="/articles/login" class="hover:bg-slate-100 text-lg transition-all rounded">Login</a>
                    </li>
                    <li class="inline-block">
                        <a href="/articles/register" class="hover:bg-slate-100 text-lg transition-all rounded">Register</a>
                    </li>
                </ul>
            <%_ } -%>
        </div>
    </header>

    <div class="m-5">
        <div class="m-6">
            <h1 class="text-3xl text-white font-extrabold mb-3"><%= article.title %></h1>
            <div class="text-gray-300 text-xs mb-5">
                <%= article.createdDate.toLocaleDateString() %>
                Created By <%= article.account %>
            </div>
            <a href="/articles" class="inline-block text-white text-lg hover:bg-gray-300 rounded shadow-md">Back</a>
            <%_ if (req.session.name === article.account || req.session.name === "Admin") { -%> 
                <a href="/articles/edit/<%- article.id %>" class="inline-block text-white text-lg hover:bg-gray-200">Edit</a>
                <form action="/articles/<%- article.id %>?_method=DELETE" method="post" class="inline-block text-white text-lg hover:bg-gray-200">
                    <button type="submit" class="">Delete</button>
                </form>  
            <%_ } -%>   
            <div class="bg-gray-200 rounded m-5">
                <div class="">
                    <p class="text-lg"><%= article.innertext %></p>
                </div>    
            </div>
        </div>
        <div class="m-5">
            <h2 class="mb-5 text-white text-xl ">Message</h2>
            <% if (messages.length === 0) { %>
                <h5 class="mb-5 text-white">No Message Here</h5>
            <% } %> 
            <% messages.forEach(message => { %>
                <div class="bg-gray-200 rounded-md shadow mr-10 ml-10 mt-5">
                    <div class="m-5">
                            <p class="text-lg inline-block"><%= message.content %></p>
                            <p class="text-sm text-gray-400 inline-block">
                                By <%= message.account %>
                            </p>
                            <p class="text-xs text-gray-400 inline-block">
                                <%= message.date.toLocaleDateString() %>
                            </p>
                        <br>
                        <%_ if(req.session.name === message.account || req.session.name === "Admin") { -%> 
                            <a href="/articles/edit_message/<%= message.id %>" class="inline-block">Edit</a>
                            <form action="/articles/delete_message/<%= message.id %>?_method=DELETE" method="post" class="inline-block">
                                <button type="submit" class="inline-block">Delete</button> 
                            </form>
                        <%_ } -%> 
                    </div>
                </div>    
            <% }) %>
            <%_ if (req.session.logined) { -%>
                <div class="">
                    <form action="/articles/new_message/<%= article.id %>" method="post">
                        <span>
                            <input required type="text" id="message" name="message" class="w-10/12 inline-block" placeholder="write something">
                            <button type="submit" class="text-white hover:bg-gray-400 rounded transition">Send</button> 
                        </span>
                    </form>
                </div>
            <%_ } -%>
        </div>
    </div>
</body>
</html>