<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <!--<link rel="stylesheet" href="../dist/tailwind.css">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body class="bg-black">
    <!-- banner -->
    <header class="header bg-gray-300 mb-5 top-0 w-full">
        <div class="inline-block m-3">
            <a href="/">
                <h1 class="text-3xl font-extrabold">JJHsu's Blog</h1>
            </a>
        </div>
        <div class="inline-block bg-gray-300 rounded top-4 right-1">
            <%_ if (req.session.logined) { -%> 
                <ul>
                    <li class="inline-block mr-5">
                        <a href="/articles/edit_user/<%= req.session.name %>" class="hover:bg-slate-100 text-lg transition-all rounded">ChangePassword</a>
                    </li>
                    <li class="inline-block">
                        <form action="/articles/logout?_method=DELETE" method="post" class="">
                            <button type="submit" class="hover:bg-slate-100 text-lg transition-all rounded">Log Out</button>
                        </form>
                    </li>
                </ul>
            <%_ } else { -%>
                <ul>
                    <li class="inline-block mr-5">
                        <button class="show-modal hover:bg-slate-100 text-lg transition-all rounded">Login</button>
                    </li>
                    <li class="inline-block">
                        <a href="/articles/register" class="hover:bg-slate-100 text-lg transition-all rounded">Register</a>
                    </li>
                </ul>
            <%_ } -%>
        </div>
    </header>

    <!-- article list -->
    <main class="article m-5 ">
        <%_ if (req.session.logined) { -%>
            <button class="hover:bg-slate-300 transition-all rounded text-xl text-white show-articleModal">New Article</button>
        <%_ } -%>
        <% articles.forEach(article => { %>
            <div class="mb-5">
                <div class="m-5">
                    <a href="/articles/more/<%= article.id %>" class="mb-3 text-xl font-bold text-white transition-all rounded hover:bg-slate-300"><%= article.title %></a>
                    <div class="text-xs text-gray-200">
                        <%= article.createdDate.toLocaleDateString() %>
                        Created By <%= article.account %> 
                    </div>
                </div>
            </div>
        <% }) %>
    </main>

    <!-- create article modal -->
    <div class="article-modal h-1/2 w-full fixed left-0 top-1/4 justify-center items-center hidden">
        <div class="bg-slate-300 rounded shadow-lg w-1/2 h-1/2 left-1/4 fixed">
            <h1 class="mb-4 mt-4 text-center text-2xl">New Article</h1>
        
            <form action="/articles/new" method="post">
                <div class="form-group mb-3 text-center">
                    <label for="title" class="text-xl">Title</label>
                    <input required value="<%=  %>" type="text" name="title" id="title" class="hover:shadow-xl mb-2 w-1/2">    
                </div>
                <div class="form-group mb-3 text-center">
                    <label for="innertext" class="text-xl">Inner Text</label>
                    <textarea required name="innertext" id="innertext" class="hover:shadow-xl mb-2 w-1/2"><%=  %></textarea>
                </div>
                <div class="container mt-4 text-center">
                    <button type="submit" class="mr-5 hover:bg-slate-400 transition-all rounded">Send</button>
                    <button class="close-articleModal ml-5 hover:bg-slate-400 transition-all rounded">Cancel</button>
                </div>   
            </form>
        </div> 
    </div>

    <!-- login modal -->
    <div class="login-modal h-1/2 w-full fixed left-0 top-1/4 justify-center items-center hidden">
        <div class="bg-slate-300 rounded shadow-lg w-1/2 h-1/3 left-1/4 fixed">
            <div class="mr-2 mt-2 flex flex-row-reverse">
                <button class="text-gray hover:shadow-md close-modal">X</button>
            </div>
            <div class="mb-5">
                <h1 class="text-2xl font-bold text-center">Login</h1>    
            </div>
            <div class="left-5 right-5" >
                <form action="/articles/login" method="post"> 
                    <div class="items-center text-center justify-evenly">
                        <label for="email">Email</label>
                        <input required type="email" name="email" id="email" class="hover:shadow-xl mb-2 w-1/2" placeholder="請輸入電子郵件">
                    </div>
                    <div class="items-center text-center justify-evenly">
                        <label for="password">Password</label>
                        <input required type="password" name="password" id="password" class="hover:shadow-xl w-1/2" placeholder="請輸入密碼">
                    </div>
                    <div class="items-center text-center mt-5 ">
                        <button type="submit" class="mr-5 hover:bg-slate-100 rounded transition hover:shadow-xl">Login</button>
                        <a href="/articles/register" class="hover:bg-slate-100 rounded transition hover:shadow-xl">Register</a>
                    </div>
                </form> 
            </div>
        </div>
    </div>

    <footer class="bg-blue-500 bottom-0 fixed w-full">
        <p class="text-center text-xs">Design by JJHsu</p>
    </footer>

    <script>  //control login modal
        const loginModal = document.querySelector('.login-modal')
        const header = document.querySelector('.header')
        const article = document.querySelector('.article')
        const showModal = document.querySelector('.show-modal')
        const closeModal = document.querySelector('.close-modal')

        showModal.addEventListener('click', () => {
            loginModal.classList.remove('hidden')
            article.classList.add('opacity-30')
            header.classList.add('opacity-30')
        })

        closeModal.addEventListener('click', ()=> {
            loginModal.classList.add('hidden')
            article.classList.remove('opacity-30')
            header.classList.remove('opacity-30')
        })

        closeModal.forEach(close => {
            close.addEventListener('click', () => {
            loginModal.classList.add('hidden')
            article.classList.remove('opacity-30')
            header.classList.remove('opacity-30')
            })
        })
    </script>

    <script>  //control new article modal
        const articleModal = document.querySelector('.article-modal')
        const showArticleModal = document.querySelector('.show-articleModal')
        const closeArticleModal = document.querySelector('.close-articleModal')

        showArticleModal.addEventListener('click', () => {
            articleModal.classList.remove('hidden')
            article.classList.add('opacity-30')
            header.classList.add('opacity-30')
        })

        closeArticleModal.addEventListener('click', ()=> {
            articleModal.classList.add('hidden')
            article.classList.remove('opacity-30')
            header.classList.remove('opacity-30')
        })

        closeArticleModal.forEach(close => {
            close.addEventListener('click', () => {
            articleModal.classList.add('hidden')
            article.classList.remove('opacity-30')
            header.classList.remove('opacity-30')
            })
        })
    </script>
</body>
</html>